.certificates {
  margin-bottom: 30px;
}

.certificates h3 {
  text-align: center;
  margin-bottom: 30px;
}

.certificates ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.certificates div {
  margin-top: 2rem;
}