#footerSpace {
  height: 11rem;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  text-align: center;
  background-color: #000000b3;
  padding-top: 25px;
  padding-bottom: 10px;
}

.footer > p {
  font-weight: 400;
  font-size: 1.5rem;
}

.footer ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
