#navbarSpace {
  height: 4rem;
}

.navbar ul {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #fff;
  background-color: #000000b3;
  backdrop-filter: blur(3px);
  z-index: 10;
}
