.projects h3 {
  text-align: center;
  margin-top: 30px;
}

.projects ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
}

.projects li {
  margin: 25px;
  border: 1px solid #808080;
}

.projects p {
  text-align: center;
}

.item {
  transition: transform 0.4s;
}

.item:hover,
.item:focus {
  transform: scale(1.1);
}
